@model TojeTedaGoll.Models.WeddingGift

@{
    Layout = "~/Views/Shared/_Layout_Vertical.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="page-content-panel" id="gift-detail-panel">
        <img src="@Model.ImagePath" alt="@Model.GiftName" class="img-responsive" />
        <h1>@Model.GiftName</h1>
        <p>@Model.ShortDescription</p>
        <p>@Model.FullDescription</p>
        @Html.ActionLink("Zpět na přehled", "Gifts", null, new { @id = "btn-default"})
    
    </div>
</body>
</html>
