<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wedding Web</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/main.less" rel="stylesheet/less" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/less.js"></script>
</head>
<body>
    <div class="container-fluid vertical-container">
        <div class="sidebar-container">
            <img class="img-responsive" id="sidebar-img" src="~/Images/WeddingWeb-09.svg" />
            <div class="sidebar-menu">
                <ul>
                    <li><span class="glyphicon glyphicon-home black" aria-hidden="true" href="#"></span>@Html.ActionLink("DOMŮ", "../Pages/Index", null, "Index", new { @id="hide-this"})</li>
                    <li><span class="glyphicon glyphicon-comment black" aria-hidden="true"></span>@Html.ActionLink("O NÁS", "../Pages/About", null, "About", new { @id = "hide-this" })</li>
                    <li><span class="glyphicon glyphicon-list black" aria-hidden="true"></span>@Html.ActionLink("HARMONOGRAM", "../Pages/Schedule", null, "Schedule", new { @id = "hide-this" })</li>
                    <li><span class="glyphicon glyphicon-gift black" aria-hidden="true"></span>@Html.ActionLink("SVATEBNÍ DARY", "../Pages/Gifts", null, "Gifts", new { @id = "hide-this" })</li>
                    <li><span class="glyphicon glyphicon-envelope black" aria-hidden="true"></span>@Html.ActionLink("RSVP", "../Forms/Create", null, "Create", new { @id = "hide-this" })</li>
                </ul>
                <img id="sidebar-divider" src="~/Images/WeddingWeb-15.svg" />
            </div>   
        </div>
        <div class="container flex-center-verticaly">

            @RenderBody()


        </div>
    </div>
    <footer>
        <div class="container-fluid navbar-fixed-bottom" id="footer-container">
            <img class="img-responsive" id="vertical-footer-img" src="~/Images/WeddingWeb-10.svg" />
        </div>
    </footer>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>