<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wedding Web</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/main.less" rel="stylesheet/less" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/less.js"></script>
</head>
<body>
    <div class="container-fluid vertical-container">
        <div class="sidebar-container">
            <img class="img-responsive" id="sidebar-img" src="~/Images/WeddingWeb-09.svg" />
            <div class="sidebar-menu">
                <ul>
                    <li>@Html.ActionLink("DOMŮ", "Index", null, "Index")</li>
                    <li>@Html.ActionLink("O NÁS", "About", null, "About")</li>
                    <li>@Html.ActionLink("HARMONOGRAM", "Schedule", null, "Schedule")</li>
                    <li>SVATEBNÍ DARY</li>
                    <li>RSVP</li>
                </ul>
            </div>
            <img id="sidebar-divider" src="~/Images/WeddingWeb-15.svg" />
            <div class="bottom-img-container">
                <img id="sidebar-img-bottom" src="~/Images/WeddingWeb-10.svg" />
            </div>
        </div>
        <div class="container-fluid flex-center-verticaly">
            
                @RenderBody()
           
            
        </div>
    </div>
    <footer></footer>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>